/*input {*/
    /*border: 1px green dotted;*/
/*}*/
/*input[type=radio][checked] {*/
    /*border: 1px yellow double;*/

/*}*/
/*.a_google:hover {*/
    /*color: yellow !important;*/
/*}*/

/*form {*/
    /*border: 1px red solid;*/
    /*float :left;*/
    /*width: 50%;*/
    /*color: #b87a6f;*/

/*}*/
/*#new_window {*/
    /*border: 1px darkgray solid;*/
    /*float :left;*/
    /*width : 50%;*/
/*}*/
/*main div  {*/
/*text-align:center;*/
/*}*/
.index_main{
    height: 100%;
}
h1{
    text-align:center;
}
main section div {
    text-align: center;
    float: left;
    width: 24%;
}

main section div img {
    width: 80%;
}
main section {
    width: 100%;
}
main div {
    text-align: center;
}

footer ul {
    margin: auto;
}
footer ul li {
    text-align: center;
    /*width: 50%;*/
    display: inline;
}
/*div ul li {*/
    /*display: inline;*/
    /*text-align: left;*/
    /*font-size: 2%;*/
/*}*/
div:hover img {
    border: #ff3a44 double 1px;
}