h1{
    text-align:center;
}
main section div {
    text-align: center;
    float: left;
    width: 24%;
}

main section div img {
    width: 80%;
}
main section {
    width: 100%;
}
main div {
    text-align: center;
}

footer ul {
    margin: auto;
}
footer ul li {
    text-align: center;
    /*width: 50%;*/
    display: inline;
}
div:hover img {
    border: #ff3a44 double 1px;
}